
#btnAgregarGrado{
    background-color: #EEB438;
    /* bordes */
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    /* tipografia */
    font-weight: bolder;
    color: rgb(63, 62, 62);
}

#btnAgregarGrado:hover{
    background-color: #f3bf4f;
}

.CtIma1{
    background-color: #C13641;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.CtIma2{
    background-color: #C13641;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.CtIma2:hover{
    background-color: #cd4550;
}

.imgen{
    width: 70px;
}

.contText{
    border-style: solid;
    border-width: 1px;
    border-color: #fffefe;
    background-color: #434335;
    color: #f9f3f3;
}

/* MODAL */
.barrasModal{
    background-color: #3DA25C;
    color: #fbfaf7;
}

.iconoM{
    background-color: #C13641;
    color: white;
}

#btnCancelAGrupo{
    background-color: #dea935;
}
#btnAddGrupo{
    background-color: #97efb1;
}

.contImagen{
    width: 70px;
    height: 70px;    
    padding: 0%;    
}

.imgen{
    width: 70px;
}


#btnAddEstudiante{
    background-color: #EEB438;
    /* bordes */
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    /* tipografia */
    font-weight: bolder;
    color: rgb(63, 62, 62);
}

#btnAddEstudiante:hover{
    background-color: #f3bf4f;
}


#fechal{
    color: rgb(6, 18, 7);
    background-color: rgb(209, 240, 167);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: 1px;
}

#expUno{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10, 11, 10);
    background-color: rgb(173, 235, 149);
    color: black;
    font-size: 1.2em;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#expUno:hover{
    background-color: rgb(155, 221, 129);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
#expAll{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(9, 9, 9);
    background-color: rgb(173, 235, 149);
    color: black;
    font-size: 1.2em;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#expAll:hover{
    background-color: rgb(155, 221, 129);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

/* MODAL */
.barrasModal{
    background-color: #3DA25C;
    color: #fbfaf7;
}

.barrasModal2{
    background-color: #4d4b46;
    color: #fbfaf7;
}

.barrasModal3{
    background-color: #603018;
    color: #fbfaf7;
}

.iconoM{
    background-color: #C13641;
    color: white;
}

.btnModalCerrar{
    background-color: #dea935;
}

.btnModalCerrar2{
    background-color: #42413f;
    color: white;
}

.btnModalCerrar2:hover{
    color: white;
}

.btnModalConfirmar{
    background-color: #97efb1;
}

.btnModalConfirmar2{
    background-color: #c55740;
    color: white;
}

.btnModalConfirmar2:hover{
    color: white;
}

.contImagen{
    width: 70px;
    height: 70px;    
    padding: 0%;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;    
}

.contImagenC{
    width: 140px;
    height: 140px;    
    padding: 0%;
}

.imgen{
    width: 70px;
    max-height: 70px;
}

.fondo{
    background-color: #484a44;
}

.contImagen2{
    width: 70px;
    height: 70px;    
    padding: 0%;    
}

.imgen2{
    width: 70px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.hora2{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;    
}

.horaE1{
    background-color: #E6E6E6;
    color: #040404;
}

.horaE2{
    background-color: #D0DDD3;
    color: #2D440F;
}
.horaE3{
    background-color: #F3D6A3;
    color: #0a0a0a;
}

.boxAsis{
    background-color: #edf1c9;
    font-family: KGPrimaryPenmanshipLined;
    border-style: solid;
    border-width: 2px;
    border-color: #2D440F;    
}


.contImagen3{
    width: 70px;
    height: 70px;    
    padding: 0%;
    background: url(../img/asistencia/btn0101.png);
    background-size: 70px 70px;  
}

.contImagen3:hover{
    background: url(../img/asistencia/btn0102.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1.05);  
}

.contImagen3:active{
    background: url(../img/asistencia/btn0103.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1);  
}

.contImagen4{
    width: 70px;
    height: 70px;    
    padding: 0%;
    background: url(../img/asistencia/btn0201.png);
    background-size: 70px 70px;  
}

.contImagen4:hover{
    background: url(../img/asistencia/btn0202.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1.05);  
}

.contImagen4:active{
    background: url(../img/asistencia/btn0203.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1);  
}

.contImagen5{
    width: 70px;
    height: 70px;    
    padding: 0%;
    background: url(../img/asistencia/btn0301.png);
    background-size: 70px 70px;  
}

.contImagen5:hover{
    background: url(../img/asistencia/btn0302.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1.05);  
}

.contImagen5:active{
    background: url(../img/asistencia/btn0303.png);
    background-size: 70px 70px;
    cursor: pointer;
    transform: scale(1);  
}

.btnImg{
    background-color: #fdecc9;
    border-color: #cab7b9;
}

.videoC{
    width: 140px;
    height: 140px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 0px;
}
/* #FD7E14 */

.cajaFoto{
    border-style: solid;
    border-width: 1px;
    border-color: #060a00;
    background-color: #b1a26e;
    line-height:0;
}

.rdInfo{
    border-style: solid;
    border-width: 1px;
    border-color: #060a00;
    background-color: #d7d5d5;
}

.btnCapturar{
    border-style: solid;
    border-width: 1px;
    border-color: #060a00;
    background-color: #2D440F;
    color: white;
}

.btnRefrescar{
    border-style: solid;
    border-width: 1px;
    border-color: #060a00;
    background-color: #FD7E14;
    color: white;
}

/* Ocultar elementos con dislplay flex no funciona el show de jquery */
.hide{
    display: none !important;
}

.rdInfoA{
    background-color: #c1f8ba;
}

.tituloFoto{
    background-color: rgb(59, 46, 11);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    /* line-height: 5px; */
    padding:2px;
}

.contImagenEdit{
    background-color: #484a44;
    width: 70px;
    height: 70px;
    background: url(../img/asistencia/btn0401.png);
    background-size: 70px 70px;
    cursor: pointer;
}

.contImagenEdit:hover{
    background: url(../img/asistencia/btn0402.png);
    background-size: 70px 70px;
    transform: scale(1.05);  
}

.contImagenEdit:active{
    background: url(../img/asistencia/btn0403.png);
    background-size: 70px 70px;
    transform: scale(1);  
}


.contImagenDelet{
    background-color: #484a44;
    width: 70px;
    height: 70px;
    background: url(../img/asistencia/btn0501.png);
    background-size: 70px 70px;
    cursor: pointer;
}

.contImagenDelet:hover{
    background: url(../img/asistencia/btn0502.png);
    background-size: 70px 70px;
    transform: scale(1.05);  
}

.contImagenDelet:active{
    background: url(../img/asistencia/btn0503.png);
    background-size: 70px 70px;
    transform: scale(1);  
}

.btnAtras{
    background-color: #DBED97;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnDeleteGrupo{
    background-color: #791414 !important;
    color: white;
}

#btnExportar{
    background-color: #91c7e0 !important;
    color: rgb(15, 15, 15);
    border-style: solid;
    border-width: 1px;
    border-color: #040404;
    margin-right: 0px;
}

#btnAddLista{
    color: rgb(6, 18, 7);
    background-color: rgb(209, 240, 167);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-left: 0px;
}